<div class="header d-flex align-items-center justify-content-between py-3 px-5 ">
    <div>
        <!-- <mat-icon> phone</mat-icon> -->
        <img src="../../../../assets/imgs/social-icons/Vector (13).svg" alt="">
        <span class="px-2">+91 8374902234</span>
    </div>
    <div>
        <img class="px-4" src="../../../../assets/imgs/social-icons/Vector (8).svg" alt="">
        <img class="px-4" src="../../../../assets/imgs/social-icons/Vector (9).svg" alt="">
        <img class="px-4" src="../../../../assets/imgs/social-icons/Vector (10).svg" alt="">
        <img class="px-4" src="../../../../assets/imgs/social-icons/Vector (11).svg" alt="">
        <img src="../../../../assets/imgs/social-icons/Vector (12).svg" alt="">
    </div>

</div>