<header>
    <nav class="d-flex align-items-center justify-content-evenly ">
        <div class="usr-img">

        </div>
        <div class="nav-items-tabs d-flex align-items-center justify-content-center">
            <div class="tab">
                <a href="">Home</a>
            </div>
            <div class="vertical-line"></div>
            <div class="tab">
                <a href="">ABOUT US</a>
            </div>
            <div class="vertical-line"></div>
            <div class="tab">
                <a href="">BOOKS</a>
            </div>
            <div class="vertical-line"></div>
            <div class="tab">
                <a href="">NEW RELEASE</a>
            </div>
            <div class="vertical-line"></div>
            <div class="tab">
                <a href="">CONTACT US</a>
            </div>
            <div class="vertical-line"></div>
            <div class="tab">
                <a href="">BLOG</a>
            </div>
        </div>

        <div class="nav-actions d-flex align-items-center justify-content-center">
            <div class="action-tab">
                <img src="/assets/imgs/nav-icons/Vector (8).svg" alt="">
            </div>
            <div class="vertical-line"></div>
            <div class="action-tab">
                <img src="/assets/imgs/nav-icons/Vector (9).svg" alt="">
            </div>
            <div class="vertical-line"></div>
            <div class="action-tab">
                <img src="/assets/imgs/nav-icons/Vector (10).svg" alt="">
            </div>
        </div>
    </nav>
</header>