<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <!-- <mat-error *ngIf="email?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="email?.hasError('email')">Invalid email format</mat-error> -->
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <!-- <mat-error *ngIf="password?.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="password?.hasError('minlength')">Password must be at least 6 characters long</mat-error> -->
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>