@import 'assets/scss/variables';
.card-bg{
    background-image: url('assets/imgs/Picture.svg'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh; 
    
}

.light-grey-text{
    color: $--grey-text-color;
    font-weight: 600;
}

.orange-btn{
    background-color: $--action-color  !important;
}

.outlined-btn{
    border: 1px solid $--primary-color !important;
    color: $--primary-color  !important;
    background-color: $--base-color !important;
    box-shadow: 0px 0px 0px 0px !important;
}